@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  background: white;
  font-family: arial;
  overflow-x: hidden;
}
::selection {
  color: #127BE3;
  background: lightblue;
}
* {
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
select {
  user-select: none;
  -webkit-user-select: none;
  border: 1px solid black;
}
hr {
  border: 0.5px solid black;
}
input {
  border: 1px solid black;
  outline: none;
  width: 99%;
}
input[type=range] {
  accent-color: black;
}
button {
  background: transparent;
  border: 1px solid black;
}
button:hover {
  color: #127BE3;
}
button:focus {
  color: #127BE3;
  background: lightblue;
}
.off {
  pointer-events:none;
  user-select: none;
  -webkit-user-select: none;
  color: lightgrey;
  cursor: default;
}
.off * {
  color: lightgrey;
}
.off input {
  border: 1px solid lightgrey;
  color: lightgrey;
}

#app {
  position: absolute;
  top: 1%;
  left: 1%;
  height: 98%;
  width: 98%;
  visibility: hidden;
}
